.greenButton {
  padding: 10px 17px;
  background-color: #3abb69 !important;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
  @include tablet {
    padding: 8px 13px;
    font-weight: 600;
    font-size: 14px;
  }
  &:hover {
    background: #3abb69;
    color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 0 11px 0px seagreen;
  }
}
