@import "../variables";

// .navbar {
//   z-index: 3;
// }
// .navbar > .container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .navbar-collapse {
//   ul {
//     display: flex;
//     align-items: center;
//     li {
//       text-transform: capitalize;
//       a {
//         text-decoration: none;
//         color: white;
//         font-weight: 500;
//         letter-spacing: 0.6px;
//         position: relative;

//         &::before {
//           content: "";
//           position: absolute;
//           width: 100%;
//           height: 2px;
//           border-radius: 3px;
//           background-color: $secondary-color;
//           bottom: -10px;
//           left: 0;
//           transform-origin: right;
//           transform: scaleX(0);
//           transition: transform 0.3s ease-in-out;
//         }
//         &:hover::before {
//           transform-origin: left;
//           transform: scaleX(1);
//         }
//       }
//       .active {
//         border-bottom: 2px solid $secondary-color;
//       }
//     }
//   }
// }
// .bg-light {
//   @include tablet {
//     background-color: red !important;
//   }
// }

.navbar {
  background-color: $primary-color;
  transition: 0.4s;
  display: flex;
  align-items: center;
  z-index: 4;
  height: 90px;
  .navbarBrand {
    img {
      @include mobile {
        width: 180px !important;
        height: 40px !important;
      }
    }
  }
  .navbarLinks {
    display: flex;
    align-items: center;
    @include desktop {
      display: none;
    }
    ul {
      display: flex;
      gap: 30px;
      margin: 0;
      li {
        text-transform: capitalize;
        list-style-type: none;
        a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          letter-spacing: 0.6px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 3px;
            background-color: $secondary-color;
            // bottom: -10px;
            bottom: -2px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }
          &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
        .active {
          border-bottom: 2px solid $secondary-color;
        }
      }
    }
  }
}
.bg-brandColor {
  position: fixed !important;
  width: 100%;
  border-bottom: 2px solid $secondary-color;
  background-color: $primary-color !important;
  z-index: 4;
}

.navbarButton {
  display: block;
  @include desktop {
    display: none;
  }
}
.navbarToggleButton {
  display: none;
  @include desktop {
    display: block;
  }
}
.mobileHeader {
  transition: 0.5s;
  background-color: $primary-color;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 70px;
  bottom: 0;
  right: 0;
  z-index: 4;
  overflow-x: hidden;
  @include desktop {
    display: block;
  }
  ul {
    margin: 0;
    li {
      text-align: right;
      padding: 10px 0px;
      text-transform: capitalize;
      list-style-type: none;
      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        letter-spacing: 0.6px;
        position: relative;
      }
    }
  }
  .active {
    color: white;
  }
}
