.homeBannerWrap {
  position: relative;
  background-color: #0d2460;
}
.homeBanner {
  color: white;
  position: absolute;
  top: 120px !important;
  display: flex;
  width: 100%;
  z-index: 2;
  @include desktop {
    top: 90px !important;
  }
  .homeBannerContentWrap {
    display: flex;
    align-items: center;
    height: 100%;

    .homeBannerContent {
      h1 {
        @include print-styles($section-title_defaults);
        color: $secondary-color !important;
        @include tablet {
          @include print-styles($section-title_defaults_md);
        }
      }
      span {
        // font-size: 2.5rem;
        font-weight: 700;
        @include print-styles($section-title_defaults);
        margin-bottom: 8px;
        color: white !important;
        @include tablet {
          @include print-styles($section-title_defaults_md);
        }
      }
      .bannerButton {
        margin-top: 30px;
      }
    }
  }
  .homeBannerTopImage {
    display: flex;
    justify-content: flex-end;
    img {
      @include desktop {
        height: auto;
        width: 400px;
        margin-top: 40px;
      }
      @include tablet {
        height: auto;
        width: 100%;
      }
    }
    @include desktop {
      justify-content: center;
    }
  }
}
.bannerBottomImage {
  position: relative;
  min-height: 80vh;
  img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0d2460;
  }
}
