@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./scss/main.scss";

// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-Black.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-Black.ttf") format("ttf");
//   font-style: normal;
// }

// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-Bold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-Bold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-ExtraBold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-ExtraBold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-ExtraLight.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-ExtraLight.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-Light.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-Light.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-Medium.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-Medium.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt-SemiBold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt-SemiBold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-Black.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-Black.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-Bold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-Bold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-ExtraBold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-ExtraBold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-ExtraLight.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-ExtraLight.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-Light.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-Light.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-Medium.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-Medium.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-Regular.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-Regular.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Condensed-SemiBold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Condensed-SemiBold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Expanded-Black.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Expanded-Black.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Expanded-Bold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Expanded-Bold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Expanded-ExtraBold.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Expanded-ExtraBold.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Expanded-ExtraLight.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Expanded-ExtraLight.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Expanded-Light.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Expanded-Light.ttf") format("ttf");
//   font-style: normal;
// }
// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../fonts/NunitoSans_10pt_Expanded-Medium.ttf") format("ttf"),
//     url("../fonts/NunitoSans_10pt_Expanded-Medium.ttf") format("ttf");
//   font-style: normal;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif !important;
}

html,
body {
  font-family: "Nunito Sans", sans-serif !important;
  overflow-x: hidden;
}

.custom-cursor {
  content: "";
  background-color: $secondary-color;
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none !important; /* Ensures the custom cursor does not interfere with mouse events on underlying elements */
  z-index: 9999; /* Make sure the custom cursor is above other elements */
}

.xahN8AEzyAvQtVj17TPv {
  margin-top: 0px !important;
}

// custom scroll bar

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color !important;
  border-radius: 10px;
}


